<template name="nav">
<div class="container-fluid">
    <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">/</a>
            </div>
            <div class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        <li><a href="/insertFuntsForm">Добавить фант</a></li>
                    {{/if}}
                    <li><a href="/about">О проекте</a></li>
                </ul>
            </div>
    </nav>
</div>
</template>